[features]
seeds = false
skip-lint = false

[programs.localnet]
token_mint = "4bxpnhHC89YQZ15cLKv9XxtdwZF2x7CBZYFKks9Bru76"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
